.Button{
    background-color: rgb(69, 9, 164);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0px auto;

    transition: color 0.25s linear, box-shadow 0.25s linear;
    
}
.Button:hover{
    color: rgb(165, 164, 164);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}