.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgb(67, 63, 63);
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}
.Modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}
