.SearcBar{
    background-color: blueviolet;
    /* height: 40px; */

}
.Form{
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* padding: 0 auto; */

}
.Button{
    color: rgb(58, 55, 55);
    /* background-color: blueviolet; */

}
.Input{
    display: flex;
    background-color: #fff;
width: 400px;
height: 40px;


}